# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text eol=lf
*.unity text eol=lf
*.asset text eol=lf
*.anim text eol=lf
*.lighting text eol=lf
*.renderTexture text eol=lf
*.wlt text eol=lf
*.controller text eol=lf
*.preset text eol=lf
*.overrideController text eol=lf
*.guiskin text eol=lf
*.mat text eol=lf
*.mask text eol=lf
*.spriteatlas text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.dll binary
# ... add other binary file types as needed